.page-emprunte .container,
.page-rendu .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.page-emprunte .container h1,
.page-rendu .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.page-emprunte .container .book-photo,
.page-rendu .container .book-photo {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    border-radius: 5px;
    font-size: 18px;
}

.page-emprunte .container table,
.page-rendu .container table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 5px; /* Ajustez la valeur pour l'espace désiré */

}

.page-emprunte .container td,
.page-rendu .container td {
    padding: 10px;
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 5px; /* Optionnel : arrondir les coins de la cellule */
}
.page-emprunte .container button,
.page-rendu .container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s; /* Ajout d'une transition douce */
}

.page-emprunte .container .renew {
    background-color: #4CAF50;
    color: white;
}

.page-emprunte .container .renew:hover {
    background-color: #45a049; /* Couleur de fond au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.page-emprunte .container .return,
.page-rendu .container .borrow {
    background-color: #007bff;
    color: white;
}

.page-emprunte .container .return:hover,
.page-rendu .container .borrow:hover {
    background-color: #007bff; /* Couleur de fond au survol pour le bouton de retour */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.page-rendu .container .borrow {
    background-color: #2196F3;
    color: white;
}

.page-rendu .container .borrow:hover {
    background-color: #1976D2; /* Couleur de fond au survol pour le bouton d'emprunt */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}